# Ignore any data and log files

*.vtk
*.out
*log*
mms/dg_navierstokes/unit_quad/SU2_DG_n8_p1.su2
mms/dg_navierstokes/unit_quad/SU2_DG_n4_p5.su2
mms/dg_navierstokes/unit_quad/SU2_DG_n8_p2.su2
mms/dg_navierstokes/unit_quad/SU2_DG_n8_p4.su2
mms/dg_navierstokes/unit_quad/SU2_DG_n8_p3.su2
mms/dg_navierstokes/unit_quad/SU2_DG_n8_p5.su2
rans/bump_in_channel_2d/.DS_Store
mms/ns_dg_fvm_time/.DS_Store
mms/fvm_navierstokes/surface_flow.vtu
mms/fvm_navierstokes/slope_rms_rhov.png
mms/fvm_navierstokes/slope_rms_rhou.png
mms/fvm_navierstokes/slope_rms_rhoe.png
mms/fvm_navierstokes/slope_rms_rho.png
mms/fvm_navierstokes/slope_max_rhov.png
mms/fvm_navierstokes/slope_max_rhou.png
mms/fvm_navierstokes/slope_max_rhoe.png
mms/fvm_navierstokes/slope_max_rho.png
mms/fvm_navierstokes/restart_flow.dat
mms/fvm_navierstokes/history.csv
mms/fvm_navierstokes/flow.vtu
mms/fvm_navierstokes/accuracy_rms_rhov.png
mms/fvm_navierstokes/accuracy_rms_rhou.png
mms/fvm_navierstokes/accuracy_rms_rhoe.png
mms/fvm_navierstokes/accuracy_rms_rho.png
mms/fvm_navierstokes/accuracy_max_rhov.png
mms/fvm_navierstokes/accuracy_max_rhou.png
mms/fvm_navierstokes/accuracy_max_rhoe.png
mms/fvm_navierstokes/accuracy_max_rho.png
mms/fvm_incomp_navierstokes/surface_flow.vtu
mms/fvm_incomp_navierstokes/square.su2
mms/fvm_incomp_navierstokes/slope_rms_u.png
mms/fvm_incomp_navierstokes/slope_rms_v.png
mms/fvm_incomp_navierstokes/slope_rms_p.png
mms/fvm_incomp_navierstokes/slope_max_v.png
mms/fvm_incomp_navierstokes/slope_max_u.png
mms/fvm_incomp_navierstokes/slope_max_p.png
mms/fvm_incomp_navierstokes/restart_flow.dat
mms/fvm_incomp_navierstokes/lam_mms_wls.cfg
mms/fvm_incomp_navierstokes/history.csv
mms/fvm_incomp_navierstokes/flow.vtu
mms/fvm_incomp_navierstokes/accuracy_rms_v.png
mms/fvm_incomp_navierstokes/accuracy_rms_u.png
mms/fvm_incomp_navierstokes/accuracy_rms_p.png
mms/fvm_incomp_navierstokes/accuracy_max_v.png
mms/fvm_incomp_navierstokes/accuracy_max_u.png
mms/fvm_incomp_navierstokes/accuracy_max_p.png
mms/fvm_incomp_euler/surface_flow.vtu
mms/fvm_incomp_euler/square.su2
mms/fvm_incomp_euler/slope_rms_v.png
mms/fvm_incomp_euler/slope_rms_u.png
mms/fvm_incomp_euler/slope_rms_p.png
mms/fvm_incomp_euler/slope_max_v.png
mms/fvm_incomp_euler/slope_max_u.png
mms/fvm_incomp_euler/slope_max_p.png
mms/fvm_incomp_euler/restart_flow.dat
mms/fvm_incomp_euler/history.csv
mms/fvm_incomp_euler/flow.vtu
mms/fvm_incomp_euler/accuracy_rms_v.png
mms/fvm_incomp_euler/accuracy_rms_u.png
mms/fvm_incomp_euler/accuracy_rms_p.png
mms/fvm_incomp_euler/accuracy_max_v.png
mms/fvm_incomp_euler/accuracy_max_u.png
mms/fvm_incomp_euler/accuracy_max_p.png
mms/dg_navierstokes/unit_quad/UnitQuadStructured_8X8_nPoly3.su2
mms/dg_navierstokes/unit_quad/surface_flow.vtu
